Repository jfdenise/eap-charts, changes with the labels that .github/labeler.yml gives for each.
All labels: repo, examples, charts, eap74, eap-xp3, eap-xp4, eap8, documentation

.github/labeler.yml:

repo:
  - ./*
examples:
  - examples/**/*
charts:
  - charts/**/*
eap74:
  - charts/eap74/**/*
  - examples/eap74/**/*
eap-xp3:
  - charts/eap-xp3/**/*
  - examples/eap-xp3/**/*
eap-xp4:
  - charts/eap-xp4/**/*
  - examples/eap-xp4/**/*
eap8:
  - charts/eap8/**/*
  - examples/eap8/**/*
documentation:
  - ./README.md
  - charts/**/README.md
  - charts/**/values.schema.json

remove GALLEON_PROVISION_DEFAULT_FAT_SERVER from buildconfi envs
  charts/eap8/templates/buildconfig-s2i-build-artifacts.yaml
Labels: charts, eap8

add build.s2i.jdk: 11 to values.yaml
  charts/eap8/values.yaml
Labels: charts, eap8

Update EAP 8 charts based on upstream wildfly-2.3.0
  README.md
  charts/eap8/Chart.yaml
  charts/eap8/README.md
  charts/eap8/templates/buildconfig-s2i-build-artifacts.yaml
  charts/eap8/templates/buildconfig-s2i.yaml
  charts/eap8/templates/imagestream.yaml
  charts/eap8/values.schema.json
Labels: repo, charts, eap8, documentation

add community resources
  CODE_OF_CONDUCT.md
  SECURITY.md
Labels: repo

release eap8 1.0.3
  charts/eap8/Chart.yaml
Labels: charts, eap8

Publish release from eap8-dev
  .github/workflows/helm.yaml
Labels: none

Update release workflow
  .github/workflows/helm-archive.yaml
  .github/workflows/helm-release.yaml
  .github/workflows/validation.yaml
Labels: none

Add tag to the build.s2i images in values.yaml
  charts/eap8/Chart.yaml
  charts/eap8/README.md
  charts/eap8/values.yaml
Labels: charts, eap8, documentation

Add a note about Tech Preview for EAP 8 Beta
  charts/eap8/README.md
Labels: charts, eap8, documentation

Update URL links
  charts/eap8/README.md
Labels: charts, eap8, documentation

reset chart version to 1.0.0-beta.0
  charts/eap8/Chart.yaml
Labels: charts, eap8

revert Chart version to 1.0.0.Beta
  charts/eap8/Chart.yaml
Labels: charts, eap8

Update EAP8 legacy build & deploy
  charts/eap8/Chart.yaml
  charts/eap8/values.yaml
  examples/helloworld-rs/DEVELOP.adoc
  examples/helloworld-rs/README.adoc
  examples/helloworld-rs/eap8-dev.yaml
  examples/helloworld-rs/helloworld-rs-app.yaml
  examples/helloworld-rs/helm.yaml
  examples/helloworld-rs/ocp-settings.xml
Labels: examples, charts, eap8

set build.s2i.buildApplicationImage to true by default
  charts/eap8/values.yaml
Labels: charts, eap8

Bump chart version to 1.0.0.Beta-1
  charts/eap8/Chart.yaml
Labels: charts, eap8

Fix typo
  examples/helloworld/README.adoc
Labels: examples

Remove use of JDK 11 images
  charts/eap8/README.md
  charts/eap8/values.schema.json
  charts/eap8/values.yaml
Labels: charts, eap8, documentation

[JBEAP-24243] Update the examples to use EAP 8 helloworld quickstart
  examples/helloworld-rs/README.adoc
  examples/helloworld-rs/eap-mvn-settings-patch.yaml
  examples/helloworld-rs/eap8-dev.yaml
  examples/helloworld-rs/helm.yaml
  examples/helloworld-rs/ocp-settings.xml
  examples/helloworld/README.adoc
  examples/helloworld/helm.yaml
Labels: examples

Move example to eap8 directory
  examples/eap8/helloworld/README.adoc
  examples/eap8/helloworld/helm.yaml
Labels: examples, eap8
